.threeStep {
    width: 100%;

    .step {
        margin-bottom: 20px;

        b {
            display: flex;
            margin-bottom: 10px;

            span {
                width: 100px;
                text-align: right;
            }
        }

        .content {
            margin-left: 100px;
        }

        .copyBoard {
            position: relative;
            background: var(--color-fill-1);
            color: var(--color-text-1);
            padding: 20px;
            font-size: 13px;

            .copy {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            .hostContent {

                ul {
                    li {
                        margin-left: 10px;
                    }

                    li:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}