.node {
   :global {
      .ant-table-cell {
         .ant-tag.ant-tag-error {
            width: 60px;
            text-align: center;
         }

         .ant-tag.ant-tag-success {
            width: 60px;
            text-align: center;
         }

         :where(.css-dev-only-do-not-override-yta69t).ant-space-gap-col-small {
            height: 100%;
         }
      }

      .tablewidth {
         max-width: calc(100vw - 288px);
         min-width: 1000px;
      }
   }
}