.view {
    .table {
        height: calc(100vh - 140px);
    }

    :global {
        .ant-progress-outer {
            flex-direction: row-reverse;
        }

        .ant-progress-text-outer {
            margin: 0 0 0 10px !important;
        }
    }
}