.view {
    display: flex;

    .tree {
        height: calc(100vh - 90px);
        padding: 20px 10px 10px 10px;
        background: var(--color-bg-1);
        width: 210px;
        min-width: 210px;
        margin-right: 10px;
        overflow-y: auto;
    }

    .table {
        width: calc(100vw - 246px);
        padding: 20px;
        background: var(--color-bg-1);
        height: calc(100vh - 90px);
    }

    :global {
        .ant-progress-outer {
            flex-direction: row-reverse;
        }

        .ant-progress-text-outer {
            margin: 0 0 0 10px !important;
        }
    }
}