.sideMenuLayout {
  height: calc(100vh - 90px);
  overflow: hidden;
  .sectionContainer {
    background: var(--color-components-side-nav-bg);
  }
  .sectionContext {
    height: 100%;
    overflow: auto;
  }
}
.sideMenu {
  color: var(--color-components-side-nav-text);
  .introduction {
    background: var(--color-components-side-nav-bg);
  }
  .nav {
    background: var(--color-components-side-nav-bg);
    li {
      &:hover {
        background: var(--color-components-side-nav-hover-bg);
      }
      &.active {
        color: var(--color-components-side-nav-text-active);
        background: var(--color-components-side-nav-text-active-bg);
      }
    }
  }
}
.progressContainer {
  width: 100%;
  height: 8px;
  background-color: var(--color-fill-2);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.progressBar {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 123, 255, 0.5) 25%, rgba(0, 123, 255, 1) 50%, rgba(0, 123, 255, 0.5) 75%);
  background-size: 200% 100%;
  animation: progressAnimation 2s linear infinite;
}
@keyframes progressAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.segmented {
  :global {
    .ant-segmented {
      background: transparent;
      color: var(--color-text-1);
      .ant-segmented-item {
        margin-right: 8px;
        padding: 3px 6px !important;
      }
      .ant-segmented-item-selected {
        color: var(--color-primary);
      }
    }
  }
}
