.roledescriptionStyle {
   font-size: small !important;
   line-height: 1 !important;
   white-space: wrap;
   :global{
      :where(.css-dev-only-do-not-override-yta69t).ant-tag {
         background-color: red;
      }
   }
   div{
      line-height: 20px;
      p{
         margin-bottom: 0px;
         margin-left: 13px;
      }
      p:nth-child(1){
        margin-top:13px;
      }
   }

}
.tagheight {
   :global{
      :where(.css-dev-only-do-not-override-yta69t).ant-tag {
         height: 161px;
      }
   }
}