.node{
   :global{
      .ant-table-cell{
         .ant-tag.ant-tag-error{
            width: 60px;
            text-align: center;
           }
          .ant-tag.ant-tag-success {
           width: 60px;
           text-align: center;
          ;
        }  
        }
       
       
   }
}





 
