.assetLoading {
  width: 100vw;

  .assetData {
    display: flex;
    background: var(--color-bg-1);
    padding: 12px;
    .assetList {
      flex: 1;
      height: calc(100vh - 124px);
      overflow: hidden;
      padding: 20px;
    }

    .groupSelector {
      height: calc(100vh - 124px);
      padding: 12px;
      overflow: auto;
      width: 260px;
      :global {
        .ant-radio-button-wrapper {
          border: none;
          background: transparent;
          border-radius: 4px !important;
          white-space: nowrap;
          margin-right: 10px;

          &::before {
            width: 0;
          }

          &:hover {
            color: var(--color-primary);
            background: var(--color-bg-1);
          }
        }

        .ant-radio-button-wrapper-checked {
          background: var(--color-bg-1);
          color: var(--color-primary);
        }

        .ant-radio-group-solid {
          display: flex;
          overflow-x: auto;
          overflow-y: hidden;
        }
      }
    }

    .owner {
      display: flex;
      align-items: center;

      .userAvatar {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        background: var(--color-fill-3);
        color: var(--color-bg-1);
        font-size: 12px;
      }
    }
  }
}