.intergration {
    width: 100%;

    .intergrationList {
        max-height: calc(100vh - 250px);
        overflow-y: auto;
    }

    .lineClamp3 {
        height: 60px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: normal;
    }
}